//====================================================================================================

.footer {
  background: #709dca;
  padding: 17px 0px;

  &__text {
    line-height: 24px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-align: center;
  }
}

//====================================================================================================